<!DOCTYPE html>
<html>
<head>
  <title>Korbin Dansie | Calculate Rate</title>
</head>
<body>

  <h1>Calculate Rate</h1>
  <p> <%=  text %><%=  cost %></p>
  <p><a href="/">Back</a></p>
</body>
</html>
