<!DOCTYPE html>
<html>
<head>
  <title>Korbin Dansie | Postal Rate Calculator</title>
  <link rel="icon" href="/img/KtechIcon.png"/>
</head>
<body>

  <h1>Postal Rate Calculator</h1>
  <form class="" action="getData" method="get">
    <label for="weight">Weight</label>
    <input type="number" name="Weight" min="0" step="0.01" required>
    <label for="MailOption">Mail Options</label>
    <select class="MailOption" name="MailOption" required>
      <option value="" selected>Select a Price</option>
      <option value="1">Letters (Stamped)</option>
      <option value="2">Letters (Metered)</option>
      <option value="3">Large Envelopes (Flats)</option>
      <option value="4">First-Class Package Service-Retail</option>
    </select>
    <button type="Reset" name="">Clear</button>
    <button type="Submit" name="">Submit</button>
    <img src="/img/KtechIcon.png" alt="Ktech">
  </form>
</body>
</html>
