<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
</head>
<body>

  <h1>This is a Heading</h1>
  <p>This is a paragraph.</p>

  <form class="" action="getData" method="get">
    <label for="weight">weight</label>
    <input type="number" name="Weight" min="0" value="0" step="0.01" required>
    <select class="MailOption" name="MailOption" required>
      <option value="None" selected disabled>Select a Price</option>
      <option value="1">Letters (Stamped)</option>
      <option value="2">Letters (Metered)</option>
      <option value="3">Large Envelopes (Flats)</option>
      <option value="4">First-Class Package Service-Retail</option>
    </select>
    <button type="Reset" name="Reset">Clear</button>
    <button type="Submit" name="Submit">Submit</button>
  </form>
</body>
</html>
